/* CSS Selectors:
<div id="example">
css:
#example {
    width: 300px;
    padding: 10px;  
    border: 2px solid red;
}

<div class="intro">
  <p>My name is Donald.</p>
  <p>I live in Duckburg.</p>
</div>
css:
.intro {
  background-color: yellow;
}
*/
/*// Please change your favorite font-size!*/
/*@fontSize: 8rem;*/

:root {
    /* Font */
    --font-size: 18px;
    /* PosY */
    --el-header-top: 0px;
    --el-logo-top: 12px;
    --el-chapter-top: 60px;
    --el-iframe-top: 84px;    
    /*--el-menu-top: 0px;*/
    --el-footer-bottom: 0px;
    --el-footer-credit-padding-top: 6px;
    /* height */
    --el-header-height: 60px;
    --el-chapter-height: 24px;
    --el-iframe-height: 840px;
    --el-footer-height: 24px;
    --el-scroll-width: 8px;
    /*--el-menu-height: 0px;*/
    --el-scroll-indicator-height: 2px;
    
    /* Radius */
    --border-radius: 16px;
    
    /* Colors */
    --color-design-purpose: #FF0000;
    --color-chroma-key-blue: #0033cc;     /*  blue-key: #0047bb ,websafe: #0033cc */
    --color-chroma-key-green: #009933;    /* green-key: #00b140 ,websafe: #009933 */    
    --color-ui-background: #1C1C1C;
    --color-system-background: #111111;
    --color-text: #fbf0ec;  
    --color-text-ui: #DBE1D5;
    --color-text-ui-hover: rgba(0, 128, 0, 0.5);
    --color-text-shadow1: #000000;
    --color-text-shadow2: #38fa08;
    --color-text-shadow3: #001400;
    --color-slider-handle: #686868;
    --color-slider-handle-hover: #7B7B7B;
    --color-slider-track: #343434;
    --color-logo: #fbf0ec;
    --color-credit: #c58f51;
    --color-box-shadow: #01009a;    /*#6e8b68*/
    --color-border: #343434;
    --color-mouse-over: #DAA520;
    --color-design-seperator:rgba(255, 255, 255, 0.12);
}
/*html {
  
}*/
body {
    cursor: pointer;
    background-color: var(--color-system-background);
    color: var(--color-text-ui);
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size);
    margin: 0px;
    padding: 0px 0px 0px 0px;
    cursor: url(/images/select-right.cur),auto;
    overflow-y: hidden;           /* Hide vertical scrollbar */
    /*overflow-x: hidden;         /* Hide horizontal scrollbar */
    transition: background-color .5s;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
p {
  color: #dce920;
}
/* =========== LINK =========== */
/* unvisited link */
a:link {
  color: red;
  text-decoration: none;
  cursor: url(/images/Select-right.cur),auto;
}

/* visited link */
a:visited {
  color: #008000;
  text-decoration: none;
  cursor: url(/images/Select-right.cur),auto;
}

/* mouse over link */
a:hover {
  color: hotpink;
  text-decoration: underline;
  cursor: url(/images/Select-right.cur),auto;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: underline;
  cursor: url(/images/Select-right.cur),auto;
}

/* HEADER block
==================================*/
/*header                          */
/*header-logo                     */
/*header-logo-li                  */
.header {
  /*border-bottom: 1px solid var(--color-border);*/
  background-color: var(--color-ui-background);
  position: fixed;
  left: 0px;
  top: var(--el-header-top);
  height: var(--el-header-height);
  width: 100%;
  z-index: 4;
  padding: 0px 0px 0px 0px;
  cursor: default;
  /*box-shadow: 10px 4px 20px var(--color-box-shadow);;*/
  /*visibility: hidden;*/
  /*border: 1px dotted var(--color-design-purpose);*/
}
.logo {    
  position: fixed;
  color: var(--color-logo);
  /*text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 65px rgb(56, 250, 8), 0 0 65px rgb(0, 20, 0);*/
  text-shadow: 1px 1px 2px rgb(109, 211, 42), 0 0 45px rgb(1, 54, 1), 0 0 65px rgba(133, 252, 23, 0.349);
  top: var(--el-logo-top);
  left: 48%;
  padding: 0px 0px 0px 0px;
  transform: translateX(-50%) translateY(-50%);
  list-style: none;
  border-bottom: 0;
  -webkit-box-reflect: below -20px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, transparent), to(rgba(255,255,255,0.3)));
}
/*.logo.hidden {
  border-bottom: 1px solid var(--color-border);
}*/
.logo li {
  display: inline-block;
  float: left;
  font-size: 48px;
  /*font-weight: 100%;*/
  color: var(--color-logo);    
  opacity: 1;
  transition: all 1.0s ease-in-out;
  max-width: 2em;
}
.logo.hidden li.spaced {
  padding-left: 0;
}
.logo li.spaced {
  padding-left: 0.5em;
}
.logo.hidden li.ghost {
  opacity: 0;
  max-width: 0;
}
/* CHAPTER block
==================================*/
/*chapter                         */
/*chapter-                        */
.tchapter {
  /*border-bottom: 1px solid var(--color-border);*/
  display: inline-block;
  background-color: var(--color-ui-background);
  color: var(--color-text-ui);
  position: fixed;
  font-size: 22px;
  left: 0px;
  top: var(--el-chapter-top);  /* top:64 x height: 26 */
  height: var(--el-chapter-height);
  width: 100%;
  z-index: 3;
  /*box-shadow: 10px 4px 20px var(--color-box-shadow);;*/
  /*visibility: hidden;*/
  border: 1px dotted var(--color-design-seperator);
}
.chapter {
  background-color: var(--color-ui-background);
  color: var(--color-text-ui);
  position: fixed;
  /*overflow: hidden;*/
  cursor: default;
  left: 0px;
  width: 100%;
  text-align: center;
  top: var(--el-chapter-top);  /* top:64 x height: 26 */
  height: var(--el-chapter-height);
  z-index: 3;
  perspective:400px;
  /*background-color: transparent;*/ 
  /*-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.3)));*/
  border-bottom: 1px dotted var(--color-design-seperator);
}
/* ICON SIDEBAR block
==================================*/
nav.main-menu:hover,
nav.main-menu.expanded {
  width: 256px;
  overflow-y: auto;
  overflow-x: hidden;
}
nav.main-menu {
  background: var(--color-ui-background);
  /*border-top: 1px solid var(--color-border);*/
  border-right: 1px solid var(--color-border);
  position: absolute;
  top: var(--el-iframe-top);   
  /* + --el-scroll-indicator-height for better design.*/
  /*bottom: 0;*/
  height: var(--el-iframe-height);
  /*bottom: var(--el-footer-bottom);*/
  left: 0;
  width: 54px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: width .05s linear;
  transition: width .05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 10;
}
nav.main-menu>ul {
  margin: 0px 0px;
}
nav.main-menu li {
  position: relative;
  display: block;
  width: 244px;
}
nav.main-menu li>a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: white;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}
nav.main-menu .nav-header {
  position: relative;
  display: table-cell;
  font-size: 20px;
  padding: 0px 8px;
  vertical-align: middle;
  width: 160px;
  color: var(--color-text-ui-hover);
  /*border-top: 1px solid var(--color-border);*/
  cursor: default;
}
nav.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 32px;
  height: 32px;
  padding: 8px;
  vertical-align: middle;
}
nav.main-menu .nav-text {
  position: relative;
  display: table-cell;
  padding: 0px 10px;
  vertical-align: middle;
  width: 440px;
}
nav.main-menu>ul.menu-footer {
  position: sticky;
  z-index: 11;
  background: var(--color-ui-background);
  /*display: table-footer-group;*/
  left: 0;
  bottom: 0px;
  border-top: 1px solid var(--color-border);
}
nav.a:hover,
nav.a:focus {
  text-decoration: none;
}
nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
nav ul,
nav li {
  outline: 0px;
  margin: 0px;
  padding: 0px;
}
nav li.has-subnav ul {
  display: none;
}

nav li.has-subnav:hover ul {
  display: block;
}
nav.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  /*color: #fff;*/
  background-color: var(--color-text-ui-hover);
}
nav.main-menu>ul>li.has-subnav>ul>li {
  margin-left: 200px;
}
.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}
#main {
  transition: margin-left .5s;
  padding: 16px;  
}
/* IFRAME block
==================================*/
/*iframe                          */
.iframe {
  background-color: var(--chroma-key-blue);
  position: fixed;
  left: 0px;
  top: var(--el-iframe-top);
  height: var(--el-iframe-height);
  /*bottom: 16px;*/
  width: 100%;
  border:none;    
  z-index: 0s;
  /*border: 1px dotted var(--color-design-purpose);*/
  /*box-shadow: 1px 1px 8px var(--color-box-shadow);*/
  /*visibility: hidden;*/
}
/* FOOTER block
==================================*/
/*footer                          */
/*footer-credit                   */
.footer {
  background-color: var(--color-ui-background);
  position: fixed;
  left: 0;
  bottom: var(--el-footer-bottom);
  width: 100%;
  height: var(--el-footer-height);
  z-index: 4;
  cursor: none;
  border-top: 1px solid var(--color-border);
  /*visibility: hidden;*/
  box-shadow: 10px 0px 20px var(--color-box-shadow);
}
.footer-credit {
  color: var(--color-text-ui-hover);
  padding-top: var(--el-footer-credit-padding-top);
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

/* =========== SCROLLBAR-Customize =========== */
/* SCROLLBAR - width */
::-webkit-scrollbar {
  width: var(--el-scroll-width);
}
/* SCROLLBAR - button */
/*::-webkit-scrollbar-button {
  background: #FF00FF;
  height: 22px;
}*/

/* SCROLLBAR - track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
/* SCROLLBAR - track - piece */
::-webkit-scrollbar-track-piece {
  background: var(--color-slider-track);
}
/* SCROLLBAR - handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--color-slider-handle);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/* SCROLLBAR - handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-slider-handle-hover); 
}
/* SCROLLBAR - thumb */
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
/* SCROLLBAR - corner */
/*
::-webkit-scrollbar-corner {
  background: #FF0000;
}*/



/*  END  */

/* --------MOBILE DEVICES-------- */
/* --Samsung J3     2016 res: 1280 x  720 pixels (HD)  -- */
/* --Samsung A20e   2019 res: 1560 x  720 pixels (HD+) -- */
/* --Samsung A13    2022 res: 2408 x 1080 pixels (FHD+)-- */
/* --Samsung A52 5G 2021 res: 2400 x 1080 pixels (FHD+)-- */

@media screen and (max-width: 1080px) {
  .logo li {
    font-size: 12px;
  }
  .chapter {
    background-color: rgba(49, 4, 131, 0.568);
  }
  .header {
    background-color: rgb(25, 185, 19);
  }
  .article {
    width: 88%;
  }
}

@media screen and (max-width: 360px) {
  .header {
    background-color: rgb(131, 4, 110);
  }
  .logo li {
    font-size: 20px;
  }
  .article {
      width: 100vw;
      max-width: 100%;
      margin: 0px 0px 0px 0px;
      overflow-x: auto;
      /*padding: 16px 36px 32px 36px;*/
  }
  body {
      padding: 0px;
      margin: 0;
      background-color: var(--color-system-background) !important;
  }
  .chapter {
    visibility: hidden;
  }
  .logo li {
      font-size: 20px;
  }
  nav.main-menu .nav-icon {
    padding: 4px;
  }
  td {
      padding: 6px 6px;
      font-size: 12px;
  }
  nav {
      position: relative;
      width: 100%;
      height: 32px;
      padding: 0px;
      left: 0;
      -webkit-transition: height 500ms, padding 500ms;
      -moz-transition: height 500ms, padding 500ms;
      transition: height 500ms, padding 500ms;
      overflow: hidden
  }
  nav:hover {
      left: 0;
      overflow: auto;
      height: 50vh;
      padding: 2em;
  }
  .footer-credit {
    font-size: 8px;
}
}